* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html {
    --accent-text: #009966;
    --background: #ffffff;
    --secondary-backrgound: #666666;
    --secondary-background-border: #999999;
    --primary: #000000;
}

html,
body {
    margin: 0;
    padding: 0;
    color: var(--primary);
    line-height: 1.2;
}

h1 {
    font-size: 2rem;
}

body {
    font-size: 1.25rem;
}

p {
    line-height: 1.5;
    margin-block: 1rem;
}


/* Add styles here! */
strong {
    color: var(--accent-text);
    font-weight: 800;
}

header {
    border-bottom: 8px solid var(--secondary-background-border);
}

.title {
    margin-block: 3rem;
    font-weight: 800;
    letter-spacing: 0;
}

.intro-chunk {
    width: fit-content;
    max-width: 28rem;
    letter-spacing: -0.005ch;
    padding-block: 64px;
}

.max-width-wrapper {
    max-width: 50rem;
    margin: auto;
    padding-inline: 24px;
}

.indented-heading {
    background: #FFBF00;
    width: fit-content;
    margin-inline: -32px 0;
    padding-inline: 32px;
    padding-block: 16px;
    line-height: 1.2em;
    border-bottom: 8px solid #CC9900;
    margin-block: -16px 0;
    font-size: 1.5rem;
}

main {
    background: var(--secondary-backrgound);
    padding-block: 48px;
}

p:last-child {
    margin-bottom: 0;
}

.card {
    background: var(--background);
    padding: 24px;
    margin-inline: -24px;
    font-weight: 500;
    border-bottom: 8px solid var(--secondary-background-border);
}